<div class="card">
  <div class="card-header">
    Full Time
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong>KFC-F&B Assistant</strong></h5>
    <p class="card-text">This position requires the individual to ensure the cleanliness of the F&B restaurant, tidy up the restaurants and do some simple clean up after the patrons leave. Individual should be outgoing and not be afraid to interact with the public.</p>
    <a href="#" class="btn btn-secondary">Apply!</a>
  </div>
</div>
<br>


<div class="card">
  <div class="card-header">
    Part Time
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong>KFC-Counter Assistant</strong></h5>
    <p class="card-text">This position requires the individual to mend the counter during off-periods and be able to take orders from customers and operate the counter. Individual should be good with numbers and outgoing.</p>
    <a href="#" class="btn btn-secondary">Apply!</a>
  </div>
</div>