<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Client Name</th>
      <th scope="col">Client Email</th>
      <th scope="col">Complete Source</th>
      <th scope="col">Approved?(Yes/No)</th>
      <th scope="col">Created Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Alexandra</td>
      <td>alexandra1998@gmail.com</td>
      <td>facetoface interview</td>
      <td>No</td>
      <td>08/07/2017</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jack</td>
      <td>jack1995@gmail.com</td>
      <td>online interview</td>
      <td>No</td>
      <td>09/07/2017</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mary</td>
      <td>Mary1998@yahoo.com</td>
      <td>online interview</td>
      <td>No</td>
      <td>09/05/2017</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Mike</td>
      <td>mike1996@gmail.com</td>
      <td>online questionnaire</td>
      <td>No</td>
      <td>08/09/2017</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Dianel</td>
      <td>dianel1998@yahoo.com</td>
      <td>facetoface interview</td>
      <td>No</td>
      <td>08/07/2017</td>
    </tr>
  </tbody>
</table>