<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Welcome</a>

    <!-- Add a "hamburger". Remember to add jQuery and JavaScript CDNs -->
    <!-- at the bottom of the body section for this to work -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Add a link to the Signup page -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="home.html">HiJob!</a>
      </div>
    </div><!-- /.navbar-collapse -->

  </nav>

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Log In</h1>
      <p class="lead">Enter your email and password below to log in to HiJob!</p>
    </div><!-- /.jumbotron -->

    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Keep me Logged In
          </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  