<div class='container'>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Keyword Search" aria-label="Search">
    <button type="button" class="btn btn-secondary">Search</button>
  </form>
</div>
<br>
<br>
<div class="row justify-content-around">
  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Mary-Ann</h5>
        <h6 class="card-subtitle mb-2 text-muted">Seeking Full-time employment in F&B</h6>
        <p class="card-text">Mary-Ann is a hardworking individual that has many experiences working at different fast food chains such as MacDonalds and KFC. She is looking to find a F&B assistant role at a location near her place in Jurong East.</p>
        <a href="#" class="card-link">Detailed Resume</a><br>
        <a href="#" class="card-link">Assigned Coacher: Emily</a>
      </div>
    </div> 
  </div>
  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">James Lee</h5>
        <h6 class="card-subtitle mb-2 text-muted">Seeking Part-time employment in Hospitality</h6>
        <p class="card-text">James is an outgoing individual that has interests to work in Hospitality. He has previously worked as a retail assistant in Uniqlo and always help out with the household chores at home. He will be a good candidate for your company.</p>
        <a href="#" class="card-link">Detailed Resume</a> <br>
        <a href="#" class="card-link">Assigned Coacher: Mary</a>
      </div>
    </div> 
  </div>
</div>
