<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Add a "hamburger". Remember to add jQuery and JavaScript CDNs -->
  <!-- at the bottom of the body section for this to work -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  
  <a class="navbar-brand" href="#">HiJob!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <div ngbDropdown class="nav-item d-inline-block">
        <button class="btn btn-outline-dark nav-link" ngbDropdownToggle>Select Role</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a class="dropdown-item" routerLink="/pwid">PWID</a>
          <a class="dropdown-item" routerLink="/coach">Coach</a>
          <a class="dropdown-item" routerLink="/employer">Employer</a>
        </div>
      </div>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Sign Up</a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button type="button" class="btn btn-secondary">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">MINDS: WHAT ARE WE?</h1>
    <p class="lead">Movement for the Intellectually Disabled of Singapore (MINDS) was founded in May 1962 to provide equal opportunities to children with intellectual disabilities to receive education and later, to be integrated as contributing and responsible citizens of Singapore. MINDS’ overarching strategy has always been a continual review, improvement and evolution of their services in anticipation of our clients’ changing needs in their life-cycle.</p>
    <hr class="my-4">
    <p>MINDS aims to provide a range of quality services that meets the current and future needs of persons with intellectual disabilities (PWIDs) and their caregivers. MINDS is currently serving about 2400 clients from past the age of six to their ripe old age. MINDS’ services include four special schools, three employment development centers, three day training and development centers, and one multi-service residential home. MINDS also provides early childhood education for the young PWIDs and vocational training in the form of sheltered workshops to create employment opportunities for PWIDs when they grow up.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
<br>
<br>
<div class="container">
  <h2>Our Pictures</h2>
  <div class="row">
    <div class="col-lg-4 col-6 px-0"><img class="img-thumbnail img-fluid" src="assets/images/minds3.png" alt=""></div>
    <div class="col-lg-4 col-6 px-0"><img class="img-thumbnail img-fluid" src="assets/images/minds1.png" alt=""></div>
    <div class="col-lg-4 col-6 px-0"><img class="img-thumbnail img-fluid" src="assets/images/minds2.png" alt=""></div>    
  </div>
</div>
